* {
    box-sizing: border-box;
   
}
body {
    background-color: rgba(0,0,0,0.025);
   
     
}
#main {
    max-width:90%;
    margin: 0 auto;
    align-items: center,
    
}
#card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
.headline {
    font-size: 60px;
    color: rgb(207, 6, 6);
    display: flex;
    justify-content: center;
    box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-bottom: 10px;
    background-color: #fff;
    padding: 16px;
}
.each {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);      
    width: 500px;
    padding: 10px;
    margin: 30px;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    align-items: center;

}

.each:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
.each img {
    width: 400px;
    height: 300px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 10px;
}
.each h1 {
    margin-bottom: 0;
}
h3 {
    padding: 0 ;
}

p {
    font-size: 20px;
    margin: 10px 5px;
}
